<div class="row mt-1">
  <div class="col">
    <app-playlist-list
      [colectionPlaylist]="colectionPlaylist"
      [selected]="selected"
      (playlistSelected)="selectPlaylist($event)"
    ></app-playlist-list>

    <div class="d-flex flex-row-reverse">
      <button class="btn btn-success" (click)="onCreateButtonClick()">
        Nowa Playlista
      </button>
    </div>
  </div>
  <div class="col">
    <div [ngSwitch]="mode">
      <app-content-card
        title="Playlista"
        content="Wybierz playlistę"
        *ngSwitchDefault
      ></app-content-card>

      <app-playlist-details
        [playlist]="selected"
        (buttonEditPlaylistClick)="editPlaylist($event)"
        *ngSwitchCase="'selected'"
      >
      </app-playlist-details>

      <app-playlist-form
        *ngSwitchCase="'edit'"
        [playlist]="selected"
      ></app-playlist-form>
    </div>
  </div>
</div>
