<div class="row mt-1">
  <div class="col">
    <app-playlist-list
      [colectionPlaylist]="colectionPlaylist"
      [selected]="selected"
      (playlistSelected)="selectPlaylist($event)"
    ></app-playlist-list>

    <div class="d-flex flex-row-reverse">
      <button class="btn btn-success" (click)="onCreateButtonClick()">
        Nowa Playlista
      </button>
    </div>
  </div>
  <div class="col">
    <div [ngSwitch]="mode">
      <app-content-card title="Playlista" *ngSwitchDefault>
        <p class="card-text">Wybierz playlistę</p>
      </app-content-card>

      <app-content-card
        title="Playlista {{ selected.name }}"
        *ngSwitchCase="'selected'"
      >
        <app-playlist-details
          [playlist]="selected"
          (buttonEditPlaylistClick)="editPlaylist($event)"
        >
        </app-playlist-details>
      </app-content-card>

      <app-content-card
        title="Playlista {{ selected.name }} - Edycja"
        *ngSwitchCase="'edit'"
      >
        <app-playlist-form
          (saveButtonClick)="savePlaylist($event)"
          [playlist]="edited"
        ></app-playlist-form>
      </app-content-card>
    </div>
  </div>
</div>
