<div class="container">
  <div class="row mt-1">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Utworów</th>
            <th>Ulubiona</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="playlist-row"
            [ngClass]="{ 'table-active': selected == playlist }"
            (click)="selectPlaylist(playlist)"
            [ngStyle]="{ borderBottomColor: playlist.color }"
          >
            <td>1</td>
            <td>{{ playlist.name }}</td>
            <td>23</td>
            <td>
              <label
                ><input type="checkbox" [(ngModel)]="playlist.favourite" />
                Ulubiona</label
              >
            </td>
          </tr>
          <tr
            [ngClass]="{ 'table-active': selected == null }"
            (click)="selectPlaylist(null)"
          >
            <td>2</td>
            <td>Angular Greatest Hits</td>
            <td>2</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" (click)="onCreateButtonClick()">
          Zapisz
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
            <div class="card-body">
              <h4 class="card-title">Playlista</h4>
              <p class="card-text">Wybierz playlistę</p>
            </div>
          </div>

          <div *ngSwitchCase="'selected'">
            <div class="card-body">
              <h4 class="card-title">Playlista "{{ selected.name }}"</h4>
              <p class="card-text">Wybrana playlista</p>
              <div class="d-flex flex-row-reverse">
                <button
                  class="btn btn-success"
                  (click)="onEditButtonClick(playlist)"
                >
                  Edytuj
                </button>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'edit'">
            <div class="card-body">
              <h4 class="card-title">Playlista</h4>
              <p class="card-text">Opis playlisty</p>
            </div>

            <div class="card-body">
              <div class="form-group">
                <label>Nazwa:</label>
                <input
                  type="text"
                  [(ngModel)]="selected.name"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label>Utwory:</label>
                <input
                  type="text"
                  [value]="selected.tracks + ' utwory'"
                  class="form-control"
                  disabled
                />
              </div>
              <div class="form-group">
                <label>Kolor:</label>
                <input type="color" [(ngModel)]="selected.color" />
              </div>
              <div class="form-group">
                <label
                  ><input type="checkbox" [(ngModel)]="selected.favourite" />
                  Ulubiona</label
                >
              </div>
              <div class="d-flex flex-row-reverse">
                <button
                  class="btn btn-success"
                  (click)="onSaveButtonClick($event)"
                >
                  Zapisz
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
