<div class="container">
  <div class="row mt-1">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Utworów</th>
            <th>Ulubiona</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="playlist-row"
            [ngClass]="{ 'table-active': selected == playlist }"
            (click)="selected = playlist"
            [ngStyle]="{ borderBottomColor: playlist.color }"
          >
            <td>1</td>
            <td>{{ playlist.name }}</td>
            <td>23</td>
            <td>
              <label
                ><input type="checkbox" [(ngModel)]="playlist.favourite" />
                Ulubiona</label
              >
            </td>
          </tr>
          <tr
            [ngClass]="{ 'table-active': selected == null }"
            (click)="selected = null"
          >
            <td>2</td>
            <td>Angular Greatest Hits</td>
            <td>2</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body" *ngIf="selected == null">
          <h4 class="card-title">Nowa Playlista</h4>
          <p class="card-text">Tworzenie nowej playlisty</p>
          <div class="form-group">
            <label>Nazwa:</label>
            <input type="text" [(ngModel)]="edited.name" class="form-control" />
          </div>
        </div>

        <div class="card-body" *ngIf="selected != null">
          <h4 class="card-title">Playlista</h4>
          <p class="card-text">Opis playlisty</p>
        </div>
        <div class="card-body" *ngIf="selected != null">
          <div class="form-group">
            <label>Nazwa:</label>
            <input
              type="text"
              [(ngModel)]="playlist.name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Utwory:</label>
            <input
              type="text"
              [value]="playlist.tracks + ' utwory'"
              class="form-control"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Kolor:</label>
            <input type="color" [(ngModel)]="playlist.color" />
          </div>
          <div class="form-group">
            <label
              ><input type="checkbox" [(ngModel)]="playlist.favourite" />
              Ulubiona</label
            >
          </div>
          <div class="form-group">
            <button
              class="btn btn-success float-right"
              (click)="onSaveButtonClick($event)"
            >
              Zapisz
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
