<div class="container">
  <div class="row mt-1">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
  <style>
    .playlist-row {
      border-bottom: 2px solid transparent;
    }
  </style>
  <div class="row mt-1">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Utworów</th>
            <th>Ulubiona</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="playlist-row"
            [ngClass]="{ 'table-active': selected == playlist }"
            (click)="selected = playlist"
            [ngStyle]="{
              borderBottomColor: playlist.color,
              borderBottomWidth: '4px'
            }"
          >
            <td>1</td>
            <td>{{ playlist.name }}</td>
            <td>23</td>
            <td>
              <label
                ><input
                  type="checkbox"
                  [checked]="playlist.favourite"
                  (change)="playlist.favourite = $event.target.checked"
                />
                Ulubiona</label
              >
            </td>
          </tr>
          <tr
            [ngClass]="{ 'table-active': selected == null }"
            (click)="selected = null"
          >
            <td>2</td>
            <td>Angular Greatest Hits</td>
            <td>2</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Playlista</h4>
          <p class="card-text">Opis playlisty</p>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label>Nazwa:</label>
            <input
              type="text"
              [value]="playlist.name"
              (keyup)="playlist.name = $event.target.value"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Utwory:</label>
            <input
              type="text"
              [value]="playlist.tracks + ' utwory'"
              class="form-control"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Kolor:</label>
            <input
              type="color"
              [value]="playlist.color"
              (change)="playlist.color = $event.target.value"
            />
          </div>
          <div class="form-group">
            <label
              ><input
                type="checkbox"
                [checked]="playlist.favourite"
                (change)="playlist.favourite = $event.target.checked"
              />
              Ulubiona</label
            >
          </div>
          <div class="form-group">
            <button
              class="btn btn-success float-right"
              (click)="onSaveButtonClick($event)"
            >
              Zapisz
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
